{% extends 'base.html' %}
{% load static %}
{% block title %}نظرات من{% endblock %}
{% block content %}
</head>
<body class="bg-light">

<div class="container">
  <h2 class="mb-4 text-center">نظرات ثبت شده شما</h2>
  <div id="comments-list">
  </div>
  <a href="http://127.0.0.1:8000/register/user_panel/" class="return-btn w-50 mt-2">بازگشت</a>
</div>
{% endblock %}

{% block custom_script %}
<script>
  const commentsList = document.getElementById('comments-list');
  const accessToken = localStorage.getItem('access_token');

  function fetchComments() {
    fetch('/product/user_comments/', {
      method: 'GET',
      headers: {
        'Content-Type': 'application/json',
        'Authorization': 'Bearer ' + accessToken,

      }
    })
    .then(res => res.json())

    .then(data => {
      commentsList.innerHTML = '';
      if (data.length === 0) {
        commentsList.innerHTML = '<p class="text-center">هنوز نظری ثبت نکرده‌اید.</p>';
      } else {
        data.forEach(review => {
          const reviewCard = document.createElement('div');
          reviewCard.className = 'card';
          reviewCard.innerHTML = `
            <div class="d-flex align-items-center mb-2">
              <img src="${review.product_image}" alt="عکس محصول" class="me-3 rounded" style="width: 150px; height: 150px; object-fit: cover;">
            </div>
            <h5>نام محصول : ${review.product_name}</h5>
            <h5>وضعیت : ${review.status}</h5>
            <p><strong>نظر :</strong> ${review.comment}</p>
          `;
          commentsList.appendChild(reviewCard);
        });
      }
    })
    .catch(error => {
      console.error('خطا در دریافت نظرات:', error);
      commentsList.innerHTML = '<p class="text-center text-danger">خطا در دریافت نظرات.</p>';
    });
  }

  document.addEventListener('DOMContentLoaded', fetchComments);
</script>
{% endblock %}
</body>
</html>