<!DOCTYPE html>
{% load static %}

<html lang="fa" dir="rtl">
<head>
    <div class="site-wrap">
    <meta charset="UTF-8">
    <title>خرید موفق</title>
    <meta http-equiv="refresh" content="7; url=/" />
</head>
<body>
    <div class="header-image-container" style="width: 100%; text-align: center; margin-bottom: 20px;">
        <img src="{% static 'home/images/header.jpg' %}" alt="هدر فروشگاه" style="max-width: 100%; height: auto; border-radius: 10px;">
    </div>

    <div class="message">
        <h1>مرسی از خریدتون!</h1>
        <p2>در حال انتقال به صفحه اصلی سایت...</p2>
    </div>
</body>
</html>
