{% extends 'base.html' %}
{% load static %}
{% block title %}ثبت‌ نام{% endblock %}
{% block content %}

<body class="bg-light">

<div class="form-container">
  <h2 class="mb-4 text-center">ثبت نام</h2>
  
  <div id="error-message" class="alert alert-danger d-none"></div>
  
  <form id="register-form">
    <div class="mb-3">
      <label class="form-label">نام کاربری</label>
      <input type="text" class="form-control ltr-input" name="username" required>
    </div>
    <div class="mb-3">
      <label class="form-label">ایمیل</label>
      <input type="email" class="form-control ltr-input" name="email" required>
    </div>
    <div class="mb-3">
      <label class="form-label">شماره تلفن</label>
      <input type="text" class="form-control ltr-input" name="phone" required>
    </div>
    <div class="mb-3">
      <label class="form-label">رمز عبور</label>
      <input type="password" class="form-control ltr-input" name="password" required>
    </div>
    <div class="mb-3">
      <label class="form-label">تکرار رمز عبور</label>
      <input type="password" class="form-control ltr-input" name="password1" required>
    </div>
    <button type="submit" class="btn btn-primary w-100">ثبت نام</button>
    <div class="d-flex gap-2 mt-2">
      <a href="http://127.0.0.1:8000/register/login/" class="redirect-btn w-50">حساب دارید ؟</a>
      <a href="/" class="return-btn w-50">بازگشت</a>
    </div>
  </form>
</div>
{% endblock %}

{% block custom_script %}
<script>
  const form = document.getElementById('register-form');
  const errorBox = document.getElementById('error-message');

  form.addEventListener('submit', async function(e) {
    e.preventDefault();

    const formData = new FormData(form);
    const data = {};
    formData.forEach((value, key) => { data[key] = value });

    try {
      const registerResponse = await fetch('/users/register/', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
        },
        body: JSON.stringify(data)
      });

      const registerResult = await registerResponse.json();

      if (registerResponse.status === 201) {
        // ✅ فقط هدایت به صفحه‌ی لاگین
        window.location.href = "http://127.0.0.1:8000/register/login/";
      } else {
        let errorText = '';
        for (const key in registerResult) {
          errorText += `${key}: ${registerResult[key]}<br>`;
        }
        errorBox.innerHTML = errorText;
        errorBox.classList.remove('d-none');
      }
    } catch (error) {
      errorBox.innerHTML = 'Something went wrong.';
      errorBox.classList.remove('d-none');
    }
  });
</script>
{% endblock %}

</body>
</html>